.main-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "aside main main main main main"
    "footer footer footer footer footer footer";
}

@media screen and (max-width: 600px) {
  .main-container {
    grid-template-areas:
      "header"
      "main"
      "footer"
      "nav";
  }
}
